---
import Base from '../layouts/Base.astro';
---

<Base>
  <main class="min-h-screen flex items-center justify-center">
    <h1 class="font-manrope text-petrol text-4xl font-bold">Lien commun</h1>
  </main>
</Base>
